h1,h2{
    font-family: monospace;
}
*{
    font-family: Inter
}
body{
    background-color: #525252;
}
h1,h2{
    color: #CA3E47
}
h2{
    font-size: 40px;
}
p{
    color: #CA3E47;
}
header{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 48px;
    line-height: 10px;
}
main{
    margin-top: 5%;
    margin-left: 10%;
    font-size: 20px;
    line-height: 8mm;
}
nav{
    margin-left: 80%;
    margin-bottom: 40%;
    font-size: 24px;
    padding: 5%;
    padding-bottom: 10%;
    color: #F2E8C6;
}
img{
    margin-left: 30%;
    width: 450px;
}
ul{
    color: #982B1C;
    font-weight: bold;
}
strong{
    color: #982B1C;
}